body{
    /* background-color: black; */
    color: aliceblue;
    font-family: "Gravitas One", serif;
    background-image: url("images/dog.jpg");
    background-size: 100% 100%;
}
h4 {
    color: hotpink; 
}
h5 {
    color: green;
}
p{
    color: aquamarine;
}

ul{
    border: solid 5px white;
    font-style: italic;
}

/* id selector */
#heading5{
    color: greenyellow;
}

/* class selector */
.headingtext{
    color: red;
}
